TNTManagerWebCronJobs/TNTManagerWebCronJobs/bin/
TNTManagerWebCronJobs/TNTManagerWebCronJobs/obj/
TNTManagerWebCronJobs/.vs/TNTManagerWebCronJobs/v16/.suo
TNTManagerWebCronJobs/TNTManagerWebCronJobs/obj/Debug/TNTManagerWebCronJobs.csproj.CoreCompileInputs.cache
TNTManagerWebCronJobs/TNTManagerWebCronJobs/obj/Debug/TNTManagerWebCronJobs.csproj.FileListAbsolute.txt
