TNTManagerWebCronJobs/TNTManagerWebCronJobs/bin/
TNTManagerWebCronJobs/TNTManagerWebCronJobs/obj/
TNTManagerWebCronJobs/.vs/TNTManagerWebCronJobs/v16/.suo
TNTManagerWebCronJobs/TNTManagerWebCronJobs/obj/Debug/TNTManagerWebCronJobs.csproj.CoreCompileInputs.cache
TNTManagerWebCronJobs/TNTManagerWebCronJobs/obj/Debug/TNTManagerWebCronJobs.csproj.FileListAbsolute.txt
TNTManagerWebCronJobs/TNTManagerWebCronJobs/obj/Release/CSAutoParameterize.parameters.xml
TNTManagerWebCronJobs/TNTManagerWebCronJobs/obj/Release/Package/TNTManagerWebCronJobs.SourceManifest.xml
TNTManagerWebCronJobs/TNTManagerWebCronJobs/obj/Release/TNTManagerWebCronJobs.csproj.CoreCompileInputs.cache
TNTManagerWebCronJobs/TNTManagerWebCronJobs/obj/Release/TNTManagerWebCronJobs.csproj.FileListAbsolute.txt
TNTManagerWebCronJobs/TNTManagerWebCronJobs/obj/Debug/TNTManagerWebCronJobs.csproj.FileListAbsolute.txt
