TNTManagerWebCronJobs/TNTManagerWebCronJobs/bin/
TNTManagerWebCronJobs/TNTManagerWebCronJobs/obj/
TNTManagerWebCronJobs/.vs/TNTManagerWebCronJobs/v16/.suo
TNTManagerWebCronJobs/TNTManagerWebCronJobs/obj/Debug/TNTManagerWebCronJobs.csproj.CoreCompileInputs.cache
TNTManagerWebCronJobs/TNTManagerWebCronJobs/obj/Debug/TNTManagerWebCronJobs.csproj.FileListAbsolute.txt
TNTManagerWebCronJobs/TNTManagerWebCronJobs/obj/Release/CSAutoParameterize.parameters.xml
TNTManagerWebCronJobs/TNTManagerWebCronJobs/obj/Release/Package/TNTManagerWebCronJobs.SourceManifest.xml
TNTManagerWebCronJobs/TNTManagerWebCronJobs/obj/Release/TNTManagerWebCronJobs.csproj.CoreCompileInputs.cache
TNTManagerWebCronJobs/TNTManagerWebCronJobs/obj/Release/TNTManagerWebCronJobs.csproj.FileListAbsolute.txt
TNTManagerWebCronJobs/TNTManagerWebCronJobs/obj/Debug/TNTManagerWebCronJobs.csproj.FileListAbsolute.txt
*.vsidx
*.vsidx
TNTManagerWebCronJobs/.vs/TNTManagerWebCronJobs/FileContentIndex/56445a08-f96b-4ea1-a2d1-77e3c73a305e.vsidx
TNTManagerWebCronJobs/.vs/TNTManagerWebCronJobs/FileContentIndex/86e046ed-7a28-471a-ba47-beb8fc9fb46c.vsidx
TNTManagerWebCronJobs/.vs/TNTManagerWebCronJobs/FileContentIndex/8cae3400-883c-4153-83d5-129cc834a40d.vsidx
TNTManagerWebCronJobs/.vs/TNTManagerWebCronJobs/FileContentIndex/a193b37a-4a07-4892-b694-9f7c8f16ff04.vsidx
TNTManagerWebCronJobs/.vs/TNTManagerWebCronJobs/v17/.suo
