<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="appUrl" value="https://app.citymanager.online/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="apiUrl" value="https://api-v2.citymanager.online/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="jobs" value="roefactura,registraturaReports,alerts,docuboxV2,sales,reminders" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</appSettings>
</configuration>